body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.left-align-container {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

h1.logo {
    font-size: 4rem;
    font-weight: bold;
    margin: 20px 0;
    color: #ffffff;
}

.food-part {
    color: #ffffff;
}

.bridge-part {
    color: #2d9f44;
}

h2.subheading {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 40px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    background-color: #2d9f44;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #10f536;
    transform: scale(1.05);
}

.home-section {
    background: url('./media/landingbackground.png') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-section {
    background-color: #000000;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-section h1,
.about-section h2 {
    font-size: 2rem;
    color: #2d9f44;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #2d9f44;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
